extends layout
block content
 h1= title
 if (toShow == null)
  h2 No instance to update
 else
  - let parrotid = toShow._id
  - let parrot_color = toShow.parrot_color
  - let parrot_weight = toShow.parrot_weight
  - let parrot_cost = toShow.parrot_cost

  div.row(class='mb-2')
   div.mr-1 ID is
   div #{parrotid}
  - let actionid = "/resource/parrot/" + parrotid
  form(id='parrotForm', action= actionid, method="PUT")
    div.form-group
      label.parrotAttr(for='parrot_color') parrot type
      input#parrot_color(type='String', name='parrot_color', value= parrot_color )
    div.form-group
      label.parrotAttr(for='parrot_weight') parrot Name
      input#parrot_weight(type='String', name='parrot_weight', value= parrot_weight )
    div.form-group
      label.parrotAttr(for='parrot_cost') parrot cost
      input#parrot_cost(type='number', name='parrot_cost', value= parrot_cost,min=10, max=10000 )
    input(type="submit")
  script.
    document.forms['parrotForm'].addEventListener('submit', (event) => {
     event.preventDefault();
     // TODO do something here to show user that form is being submitted
     fetch(event.target.action, {
       method: 'PUT',
       body: new URLSearchParams(new FormData(event.target)) // event.target is the form
     }).then((resp) => {
      return resp.json(); // or resp.text() or whatever the server sends
     }).then((body) => {
     alert("Update succeded")
     // TODO handle body
     }).catch((error) => {
     // TODO handle error
     alert("Update failed " + error )
     });
   });