extends layout

block content
 h1= title

 form(id='parrotForm', action="/resource/parrot", method="POST")
  div.form-group
    label.parrotAttr(for='parrot_color') parrot color
    input#parrot_color(type='text', name='parrot_color')
  div.form-group
    label.parrotAttr(for='parrot_weight') parrot weight 
    input#parrot_length(type='text', name='parrot_weight')
  div.form-group
    label.parrotAttr(for='parrot_cost') parrot cost
    input#parrot_cost(type='number', name='parrot_cost')
  input(type="submit")

 script.
  document.forms['parrotForm'].addEventListener('submit', (event) => {
   event.preventDefault();
   // TODO do something here to show user that form is being submitted
   fetch(event.target.action, {
    method: 'POST',
    body: new URLSearchParams(new FormData(event.target)) // event.target is the form
   }).then((resp) => {
    return resp.json(); // or resp.text() or whatever the server sends
   }).then((body) => {
    alert("Save succeded")
    // TODO handle body
   }).catch((error) => {
    // TODO handle error
    alert("Save failed " + error )
   });
  });